/* * {
    margin: 0;
    padding: 0;
} */

.container-fluid {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    background-color: rgb(230, 230, 230);
    font-family: 'Montserrat', sans-serif;
}

/* .projects-h1 {
    background-image: url('/images/circuit2.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    /* background-color: black; */
} */
.break {
    word-wrap: break-word;
}

.navbar{
    opacity: 75%;
}

a:hover {
    color: #D9230F;
    text-decoration: none;
}
/* 
.container-100 {
    font-family: 'Montserrat', sans-serif;
    background-color: #ededed;
} */

.space {
    word-spacing: -5em;
    padding: 10px;
}

.logo1 {
    font-weight: 300;
    letter-spacing: 0px;
    /* color: rgb(105, 20, 10); */
    color:#FFFFFF;
}

.logo2 {
    font-weight: 800;
    /* color: rgb(105, 20, 10); */
    color:#FFFFFF;
}

.fas, .fab {
    color: #D9230F;
}

.fas:hover, .fab:hover{
    color: rgb(105, 20, 10);
}

.carousel-caption {
    font-size: large;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 5px;
}

/* .carousel-caption {
    position: relative;
    left: -180px;
    top: 180px;
    width: 600px;
    margin: auto; 
} */

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #links a{
      color: #FFFFFF;
      font-weight: 500;
  }
/* 
  .img-projects {
    filter: grayscale(100%);
  }

  .img-projects:hover {
    filter: initial;
  }

.cuadro_intro_hover{
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 200px;
}
.cuadro_intro_hover:hover .caption{
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform:translateY(-150px);
    -moz-transform:translateY(-150px);
    -ms-transform:translateY(-150px);
    -o-transform:translateY(-150px);
}
.cuadro_intro_hover img{
    z-index: 4;
}
.cuadro_intro_hover .caption{
    position: absolute;
    top:150px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
}
.cuadro_intro_hover .blur{
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
}
.cuadro_intro_hover .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top:-20px;
    width: 100%;
} */