.container {
    align-items: center;
    text-align: center;
}

.navbar h3 {
    padding: 10px;
    font-family: 'Lexend Giga', sans-serif;
}

.navbar h3 a {
    color: #ffffff;
    text-decoration: none;
}

.navbar h3 a:hover {
    color: red;
}

.navbar span i {
    margin: 4px;
}

.row .card {
    border: none;
}

#projects {
    background-color: #ffffff;
}

#projects .card {
    background-color: #ffffff;
    margin-left:30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

#resume {
    padding: 50px;
}

#resume .card{
    margin-left:30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

#resume-download {
    background-color: gray;
    color: #ffffff;
}

.fas, .fab {
    margin: 30px;
}

footer {
    margin: 50px;
}

#about div {
    padding: 50px;
}
#about h1 {
    margin-bottom: 40px;
}

#projects div  div:hover {
    background-color: teal;
    color: #ffffff;
}

#about div:hover {
    background-color: teal;
    color: #ffffff;
}

#resume div h1, #projects div h1, #about div h1 {
    padding-top:50px;
}

#resume div  div:hover {
    background-color: teal;
    color: #ffffff;
}

#resume .fas:hover, #resume .fab:hover {
    color: #ffffff;
}

#resume div h3 {
    color: darkgrey;
}
